.idea/
*.swp
*.o
*.pyc
*.so
*.png
ANMLZoo/
*.pkl
snort/
AnmalZoo.Brill/
AnmalZoo.EntityResolution/
AnmalZoo.Fermi/
AnmalZoo.Levenshtein/
avg_heat_mapResults/
*.zip
Results/
avg_heat_mapResults_with_each/
*.svg
